<!DOCTYPE html>
<html ng-app="myModule" ng-controller="myController">
<title>Dmax the God</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/wordcloud.js"></script>

<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto", sans-serif
    }

    div {
        border-radius: 15px;
    }
</style>
<script>
    var app = angular.module('myModule', []);
    app.controller('myController', function($scope, $http) {
        $http.get("./student.json")
            .then(function(response) {
                $scope.student = response.data;

                var lines = $scope.student.keywords.split(/[,. ]+/g),
                    data = Highcharts.reduce(lines, function(arr, word) {
                        var obj = Highcharts.find(arr, function(obj) {
                            return obj.name === word;
                        });
                        if (obj) {
                            obj.weight += 1;
                        } else {
                            obj = {
                                name: word,
                                weight: 1
                            };
                            arr.push(obj);
                        }
                        return arr;
                    }, []);
                //console.log(data);
                var wordCloud = Highcharts.chart('wordCloud', {
                    series: [{
                        type: 'wordcloud',
                        data: data,
                        name: 'Profeciency'
                    }],
                    title: {
                        text: 'Wordcloud of keywords'
                    },
                    credits: {
                        enabled: false
                    },
                });
                var milestones = [];
                for (i in $scope.student.milestones) {
                    var milestone = $scope.student.milestones[i];
                    //console.log(milestone)
                    var temp = {
                        x: new Date(milestone.when),
                        y: milestone.howMuch,
                        name: milestone.details,
                        dataLabels: {
                            enabled: true,
                            format: milestone.what,
                            verticalAlign: 'bottom'
                        }
                    }
                    milestones.push(temp);

                }
                //console.log(milestones);
                var chart = Highcharts.chart('chart', {
                    chart: {
                        type: 'spline'
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: 'Career'
                    },
                    xAxis: {
                        type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            month: '%Y'
                        },
                        title: {
                            text: 'Year'
                        }
                    },
                    yAxis: {
                        visible: false
                    },
                    tooltip: {
                        headerFormat: '{series.name}<br>',
                        pointFormat: '{point.name} in {point.x:%Y}'
                    },
                    plotOptions: {
                        spline: {
                            marker: {
                                enabled: true
                            }
                        }
                    },
                    series: [{
                        name: " ",
                        data: milestones,
                    }]
                });
                //console.log(chart);
            });
    });
</script>

<body class="w3-light-grey">

    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width:1400px;">

        <!-- The Grid -->
        <div class="w3-row-padding">

            <!-- Left Column -->
            <div class="w3-quarter">

                <div class="w3-white w3-text-grey w3-card-4">
                    <div class="w3-display-container">
                        <img ng-src="{{student.profileImageLink}}" style="width:100%" alt="Avatar">
                        <div class="w3-display-bottomleft w3-container w3-text-black">
                            <div class="w3-large" style="color:rgb(255, 255, 255)">Dmax the God</div>
                        </div>
                    </div>
                    <div class="w3-container w3-margin-bottom">
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Game Developer / Hacker</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Anonymus</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>dhruvites@gmail.com</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91 79725 32508</p>
                        <hr>
                        <p>Connections &nbsp;
                            <a ng-repeat="(key, value) in student.connections" class="fa fa-{{key}} w3-hover-opacity w3-margin-right w3-large w3-text-teal" href="{{value}}"> </a>
                        </p>
                        <hr>
                        <p class="w3-large"><b><i class="fa fa-gears fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                        <div ng-repeat="(key, value) in student.skills">
                            <p>{{key}}</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{value}}%">{{value}}%</div>
                            </div>
                        </div>
                        <br>
                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                        <p ng-repeat="(key, value) in student.languages">
                            <span class="w3-margin-right">{{key}}</span>
                            <span class="w3-small w3-text-teal w3-margin-right">{{value}}</span><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </p>
                        <br>
                        <p class="w3-large w3-text-theme"><b><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-text-teal"></i>Education</b></p>
                        <div ng-repeat="educationItem in student.educationDetails">
                            <hr>
                            <p><b>{{educationItem.institute}}</b></p>
                            <p class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{educationItem.since}} - {{educationItem.to}}</p>
                            <p>{{educationItem.description}}</p>

                        </div>
                    </div>
                </div><br>
                <div class="w3-container w3-margin-bottom">

                </div>
                <!-- End Left Column -->
            </div>

            <!-- Right Column -->
            <div class="w3-threequarter">

                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <h3 class="w3-text-grey w3-padding-8"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>Work Experience</h3>
                    <div ng-repeat="project in student.projects" class="w3-container">
                        <hr>
                        <h5 class="w3-opacity"><b>{{project.title}} / {{project.organization}}</b></h5>
                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{project.since}} - {{project.to}}<span ng-show="project.to == ''" class='w3-tag w3-teal w3-round'>Current</span></h6>
                        <p>{{project.description}}</p>
                        <p ng-show="project.links">Hosted Project Links</p>
                        <ul>
                            <li ng-repeat="(key, value) in project.links">
                                <a class="w3-margin-right w3-text-teal" href="{{value}}">{{key}}</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="w3-container w3-card w3-white w3-margin-bottom">
                    <div id="wordCloud"></div>
                </div>  

                <!-- End Right Column -->
            </div>
            <!-- End Grid -->
        </div>
        <!-- End Page Container -->
    </div>
    <!--footer class="w3-container w3-teal w3-center w3-margin-top">
</footer-->
</body>

</html>